<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="mainHeader">
      <h1>YouTube Video <br />Downloader</h1>
      <img src="/static/imgs/icons8-youtube-240.png" alt="" srcset="" />
    </div>
    <form action="/" method="post" id="url-form">
      <!-- <label for="url" id="label">Video URL:</label> -->
      <input
        type="text"
        id="url"
        name="url"
        required
        placeholder="Enter the URL here"
      />
      <button type="submit" id="subBtn">Get Video</button>
    </form>

    {% if yt %}
    <div class="vid-container">
      <div class="dtables">
        <h3>Audio</h3>
        <table border="1">
          <tr>
            <th>Format</th>
            <th>Size</th>
            <th>Download</th>
          </tr>
          {% for stream in audio_streams %}
          <tr>
            <td>{{ stream.mime_type }}</td>
            <td>
              {% if stream.filesize < 1024 * 1024 %} {{ (stream.filesize /
              1024)|round(2) }} KB {% else %} {{ (stream.filesize / (1024 *
              1024))|round(2) }} MB {% endif %}
            </td>
            <td>
              <form action="/download" method="post" style="display: inline">
                <input type="hidden" name="url" value="{{ yt.watch_url }}" />
                <input type="hidden" name="itag" value="{{ stream.itag }}" />
                <button type="submit">Download</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>

        <h3>Video</h3>
        <table border="1">
          <tr>
            <th>Resolution</th>
            <th>Format</th>
            <th>Size</th>
            <th>Download</th>
          </tr>
          {% for stream in streams %}
          <tr>
            <td>{{ stream.resolution }}</td>
            <td>{{ stream.mime_type }}</td>
            <td>
              {% if stream.filesize < 1024 * 1024 %} {{ (stream.filesize /
              1024)|round(2) }} KB {% else %} {{ (stream.filesize / (1024 *
              1024))|round(2) }} MB {% endif %}
            </td>
            <td>
              <form action="/download" method="post" style="display: inline">
                <input type="hidden" name="url" value="{{ yt.watch_url }}" />
                <input type="hidden" name="itag" value="{{ stream.itag }}" />
                <button type="submit">Download</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <!-- <div class="vline"></div> -->
      <div class="dets-container">
        <h2>{{ yt.title }}</h2>
        <img src="{{ yt.thumbnail_url }}" alt="Thumbnail" />
        <p>Duration: {{yt.length//60}} minutes {{yt.length%60}} seconds</p>
      </div>
    </div>
    {% endif %}
    <script src="/static/scripts/script.js"></script>
  </body>
</html>
